<div class="row">

  <div class="container">

    <div class="logo">
      <img src="../../../assets/APLogo.png" alt="logoArgentinaPrograma" id="logoAP">
    </div>

    <div class="rrss">
        <a href="https://www.linkedin.com/in/silvia-camargo-705225197/"><img src="../../../assets/linkedin.png " id="LinkedIn"></a>
        <a href="https://github.com/Blueflower-S"><img src="../../../assets/github.png" id="GitHub"></a>
        <a href="https://www.instagram.com/horizonte_en4ruedas/?hl=es"><img src="../../../assets/instagram.png" id="Instagram"></a>
        <a href="https://twitter.com/eljarronazul1"><img src="../../../assets/twitter.png" id="Twitter"></a>
        <button type="button" class="btn btn-dark" (click)="login()" *ngIf="!isLogged">Ingresar</button> 
        <button type="button" class="btn btn-dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar sesión</button> 
      </div>

  </div>


</div>
